{% extends 'base.html' %}
{% load i18n %}

{% block title %}Welcome to my website{% endblock %}

{% block content %}
<div class="container main-container">
    <h1 class="text-center my-5">{% trans 'Bienvenido a mi sitio web' %}</h1>
    <main>
        <h2>{% trans 'Una breve presentación' %}</h2>
        <p>{% trans '¡Hola!, me llamo Emanuel, soy de Argentina. Me dedico a la programación.' %}.</p>
        <p>{% trans 'Mis inicios en este mundo fueron de manera autodidacta. Es mi hobby.' %}</p>
        <p>{% trans 'Actualmente me dedico al desarrollo de software enfocado en el backend.' %}</p>
        <p>{% trans 'Las tecnologías que he usado con mas frecuencia son:' %}.</p>
        <ul>
            <li>{% trans 'Python como lenguaje de programación.' %}</li>
            <li>{% trans 'Django.' %}</li>
            <li>{% trans 'Django Rest Framework.' %}</li>
            <li>{% trans 'Celery para tereas de fondo asíncronas.' %}</li>
            <li>{% trans 'Un poco de Javascript.' %}</li>
            <li>{% trans 'Como base de datos he usado MySql y Postgres.' %}</li>
            <li>{% trans 'Un poco de JavaScript.' %}</li>
        </ul>

        <p>{% trans 'Además...' %}</p>
        <ul>
            <li>{% trans 'He realizado algunas interfaces de usuario usando Tkinter, WxPython.' %}</li>
            <li>{% trans 'Empaquetamiento de aplicaciondes python en formato .exe' %}</li>
            <li>{% trans 'Algunas cosas extras que seguro no suman mucho acá, xd.' %}</li>
        </ul>

        <p>{% trans 'Aprender es algo que nunca termina, así que siempre estoy abiero a aprender lo que me interesa, o lo que necesite en un momento dado.' %}</p>

        <p>{% trans 'Espero que te sientas a gusto en mi sitio web.' %}</p>

    </main>

    <div>
        {% if posts %}
            <h2>{% trans 'Últimas entradas del blog' %}</h2>
            {% for post in posts %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
