{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/Letter-E-icon.ico' %}"/>
    <!-- Bootstrap CSS -->
    {% block css %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extracss %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}

    {% block js %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}
  </body>
</html>
