{% load i18n %}
<footer>
<hr>
<div class="container">
    <div class="row">

        <div class="col-4">
            <h2>{% trans 'Mi Blog' %}</h2>
        </div>
        <div class="col-4">
            <h2>{% trans 'Info' %}</h2>
        </div>
        <div class="col-4">
            <h2>{% trans 'Accesos' %}</h2>
        </div>
    </div>
    <div class="row">
        <p><span class="strong">{% trans 'Mi sitio' %} - 2022</span></p>
        <p>{% trans 'Todos los derechos reservados' %}</p>
    </div>
</div>
</footer>
