{% load i18n %}
<footer class="footer mt-auto py-3 bg-light">
<div class="container">
    <div class="row">

        <div class="col-4">
            <h2>{% trans 'Mi Blog' %}</h2>
        </div>
        <div class="col-4">
            <h2>{% trans 'Info' %}</h2>
        </div>
        <div class="col-4">
            <h2>{% trans 'Accesos' %}</h2>
        </div>
    </div>
    <div class="row">
        <p><span class="strong">{% trans 'Mi sitio' %} - 2022</span></p>
        <p><span class="">{% blocktrans %}Desarrollado por <b>David Emanuel Sandoval</b>{% endblocktrans %} - </span>{% trans 'Todos los derechos reservados' %}</p>
    </div>
</div>
</footer>
